/* .nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: white;
} */

.nav-pills > .nav-item > .active {
    background-color: white;
    color: #007bff;
}

.nav-pills > .nav-item {
    border-color: white
}

.diagram-container {
    position:fixed;
    left: 5px;
    top: 120px;
    bottom: 5px;
    right: 255px;
    overflow: scroll;
    background-color: rgb(233, 233, 233);
    border: 1px solid #ccc;
}

.controlpanel-container {
    position: fixed;
    top: 120px;
    bottom: 5px;
    right: 5px;
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}